.left, .right{
    width: 50%;
}
#txt-area{
    margin: 20px;
    width: 584px;
    height: 189px;
    max-width: 584px;
    max-height: 189px;
}
.item{
    display: flex;
    justify-content: space-around;
}
.right{
    display: flex;
    flex-direction: column;

}
body{
    display: flex;
}